<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
			<!-- MIME type needed otherwise .woff files return 404 -->
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
         </staticContent>
    </system.webServer>
</configuration>
